.lineChart1_bar:hover {
    border: 5px solid #424242;
}

.sy-tooltip {
  position: absolute !important;
  text-align: center !important;
  width: 60px !important;
  height: 28px !important;
  padding: 2px !important;
  font: 12px sans-serif !important;
  background: lightsteelblue !important;
  border: 0px !important;
  border-radius: 8px !important;
  pointer-events: none !important;
}

.sy-toolip-contents{
    display: inline-block !important;
    color: white !important; 
    font-size: 15px !important;
  }

.sy-toolip-key {
    width: 20% !important;
}

.sy-toolip-value {
  width: 80% !important;
  color: white !important;
}

.line-dot{
    /* fill: royalblue !important;
    stroke: royalblue !important; */
}


/* .sy-scale-on{
  transform:scale(1.2) !important;
} */